*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,
li,
ol{
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,body{
    width: 100%;
    line-height: 1;
    font-size: 20px;
    color:black;
    background-color: #262626;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    scroll-behavior: smooth;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
/*===================================HEADER=========================================*/
.header{
    max-height: 46px;
}
.header_items{
    display: flex;
    margin-top: 30px;
}
.header-menu{
    margin-left: 400px;
}
.nav-list{
    display: flex;
}
.nav-link{
    font-family: 'Kdam Thmor';
    line-height: 180%;
    color:#FFFFFF;
    transition: 0.2s;
}
.nav-link:hover{
    color: #16801A;
}
.nav-item:not(:last-child){
    margin-right: 50px;
}
.nav-item{
    position: relative;
}
.nav-item:after{
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px; 
    background-color: #16801A; 
    content: "";
    transition: width 0.2s ease-out;
}
.nav-item:hover:after,.nav-item:focus:after{
    width: 100%;
}
/*===================================section_first=========================================*/
.section_first{
    margin: 0 auto;
}
.image-glav{
    margin-left: 496px;
    padding-top: 352px;
}

/*===================================section_about=========================================*/
.section_about{
    background-image: url(image/about_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    max-height: 651px;
    margin-top: 347px;
}
.section_name{
    margin-left: 588px;
    position: relative;
    font-size: 50px;
    font-family: 'Khula';
    line-height: 160.56%;
    color:#FFFFFF;
    font-weight: 700;
    padding-top: 97.5px;
}
.section_name:after{
    display: block;
    position: absolute;
    left: 0;
    width: 185px;
    height: 2px; 
    background-color: #16801A; 
    content: "";
    bottom: 13.77px;
}
.section_items{
    display: flex;
}
.image{
    width: 336px;
    margin-left: 121px;
    margin-top: 49px;
}
.image_text{
    margin-left: 117px;
    font-weight: 400;
    font-family:'Khula' ;
    color: #FFFFFF;
    line-height: 161%;
    margin-top: 23px;
}
.ttt{
    margin-top: 28px;
}
.lists{
    display:flex;
    margin-top: 11px;
}
.list-2{
    margin-left: 35px;
}
.uuu{
    margin-left: 94px;
}
.section_text{
    font-size: 18px;
    font-weight: 400;
    line-height: 161%;
    font-family: 'Khula';
    color: #FFFFFF;
    max-width: 468px;
    min-height: 220px;
    margin-left: 376px;
    margin-top: 49px;
}
.education{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Khula';
    line-height: 161%;
    color: #FFFFFF;
}
.ed{margin-top: 26px;
margin-bottom: 12px;}
.education-list{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Khula';
    line-height: 161%;
}
.education-item{
    list-style:inside;
    padding-left: 11px;
}
.lists{
    font-size: 18px;
    font-weight: 400;
    line-height: 161%;
    font-family: 'Khula';
    color: #FFFFFF;
}