/*===================================start_screen=========================================*/
.start_screen{
    height: 908px;
    width: 100%;
    background-image: url(image/main/main-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}