/*===================================start_screen=========================================*/
.start_screen{
    // display: flex;
    // justify-content: space-between;
    height: 788px;
    width: 100%;
    background-image: url(image/main/main-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    .item_image{
        float:right;
        padding-top: 60px;
        max-width: 698px;
    }
    .item_info{
        max-width: 460px;
        padding-top: 223px;
        .name_block{
            max-width: 310px;
            font-size: 44px;
            line-height: 130%;
            color: #FFFFFF;
            font-family: 'Georgia';
            font-weight: 400;
        }
        .text_block{
            font-family: 'Arial';
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
            color: #CDCDCD;
            margin-top: 42px;
        }
    }
}
/*===================================about=========================================*/
.about_container{
    min-height: 588px;
    .about_items{
        min-height: 408px;
        margin-top: 80px;
        padding-left: 175px;
        padding-right: 175px;
        width: 1200px;
        display: flex;
        justify-content: space-between;
        .item_info{
            max-width: 430px;
            .name_block{
                font-weight: 400;
                font-size: 35px;
                line-height: 130%;
                font-family: 'Georgia';
                letter-spacing: 0.06em;
                color: #545454;
                max-width: 370px;
            }
            .text_block{
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
                font-family: 'Arial';
                color: #4C4C4C;
                margin-top: 25px;
            }
        }
    }
}